{% load i18n %}
<ul class="flex items-center text-sm font-medium h-full">
    
    {% if user.is_authenticated %}
        <li class="nav_link">
            <a href="{% url 'users:switch-hosting' %}">
                {% if request.session.is_hosting %}
                    {% trans 'Stop hosting' %} 
                {% else %}
                    {% trans 'Start hosting' %} 
                {% endif %}
            </a>
        </li>
        {% if request.session.is_hosting %}
            <li class="nav_link"><a href="{% url 'rooms:create' %}">{% trans 'Create Room' %}</a></li>     
        {% endif %}
        <li class="nav_link"><a href="{{user.get_absolute_url}}">{% trans 'Profile' %}</a></li>
        <li class="nav_link"><a href="{% url "users:logout" %}">{% trans 'Log Out' %}</a></li>
    {% else %}
        <li class="nav_link"><a href="{% url "users:login" %}">{% trans 'Log In' %}</a></li>
        <li class="nav_link"><a href="{% url "users:signup" %}">{% trans 'Sign Up' %}</a></li>
    {% endif %}
    
    {% comment %} 
        user는 어떻게 쓸 수 있는것인가?
        render를 할 때 context에다 user를 쓰지도 않았는데?
        Django는 Context Processor라는 것을 갖고 있다.
        이건 함수인데 여기 template에 정보를 추가한다.
        어디서든 template에 접근할 수 있다.
        이걸 render하는 view의 context가 아니어도 가능하다.
        이 경우에는 Context Processor가 있는데
        Cookie를 가지고 와서 user를 찾고 그걸 template에 자동으로 넣는다.
        자세한 건 장고 공식 문서 참고.
    {% endcomment %}
</ul>