{% extends 'base.html' %}

{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {% for room in rooms %}
        <h3>
            <a href="{% url "rooms:detail" room.pk %}">
                {{room.name}} / ${{room.price}}
            </a>
        </h3>
    {% endfor %}

    <h5> 
    {% comment %} 
        paginator에는 이전 페이지나 다음 페이지를 판별하는 메소드가 있다.
        그게 page.has_previous, page.has_next이다.
    {% endcomment %}
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 
    
    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

    {% comment %} 페이지들을 쫙 나열하고 싶을 때는 아래의 코드를 쓴다. {% endcomment %}
    {% for page in page_obj.paginator.page_range %}
        <a href="?page={{page}}">{{page}}</a>
    {% endfor %}
        
    </h5>
        
{% endblock content %}
