{% extends 'base.html' %}

{% block page_title %}
Search
{% endblock page_title %}


{% block search-bar %}
{% endblock search-bar %}


{% block content %}

    <h2>Search!</h2>

    <form action="{% url "rooms:search" %}">
        {{form.as_p}} 
        <button>Search</button>
    </form>
    {% comment %} as_p로 하면 paragraph처리를 해서 옆이 아니라 아래로 나란히 나열됨. {% endcomment %}

    <h3> Results </h3>


    {% for room in rooms %}
        <h3>{{room.name}}</h3>
    {% endfor %}
    

{% endblock content %}