container_commands:
  01_makemigrations:
    command: "django-admin makemigrations"
  02_migrate:
    command: "django-admin migrate"
  03_show:
    command: "django-admin showmigrations"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
    