{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block page_title %}{% endblock page_title %} | Nbnb</title>
</head>

<body class="text-grey-800 mt-24">
    <header
        class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white">
        <div class="w-1/3 flex items-center">
            <a href="{% url "core:home" %}" class="mr-6">
                <img class="w-6" src="{% static 'img/logo.png' %}">
            </a>
            {% block search-bar %}
            <form class="w-9/12" method="get" action="{% url "rooms:search" %}">
                <input
                    class="search-box border px-5 w-full font-medium text-gray-900 placeholder-gray-500 py-3 rounded-sm w-64 shadow-md hover:shadow-lg focus:outline-none"
                    name="city" placeholder="Search By City">
            </form>
            {% endblock search-bar %}
            {% comment %}
            header태그 안에는 value가 전달되지 않음.
            value를 전달하려는 것은 검색한 city가 태그에 입력되어 있도록 하기 위해서다.
            그래서 value가 전달되는 form태그는 search.html에 있다.
            {% endcomment %}
        </div>
        {% include 'partials/nav.html' %}
    </header>
    {% block content %}
    {% endblock content %}
    {% include "partials/footer.html" %}
</body>

</html>
{% comment %}
블록은 같은 형식의 파일안에 내용만 다르게 할 수 있도록 하는 기능을 갖고 있다.
include는 일부 html파일을 그대로 넣기 위할 때 쓰는 것이다.
여기서 content는 home.html안에서 쓴 content block 내용이 들어간다.
block은 뼈대가 되는 파일과 따로 분리해서 쓰는 파일에 모두 써야한다.
{% endcomment %}